*
*~
!src
!src/*
!src/*.py
!src/*.sh
src/*~
!data
!data/.data.dir
!src/old/
!src/old/*
src/old/*~
!requirements*.txt
!README.*
!README
README*~
!run*.sh
!.gitignore
!setup.sh
!dihm_unet.py
!default_dihm_unet.json
!LICENSE
!makedata.sh
!makegds.py
!make_holograms_enhanced.py
!objects_diatoms
!objects_diatoms/*
!teststream.py
!subavg.py
!graphtrials.ipynb
